* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: rgb(rgb(27, 50, 135), green, blue);
    font: "roboto", sans serif
}

/*Header Below*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27, 50, 135);
    color: azure;
    font-size: larger;
    text-align: center;
    padding: 2%;
}

.header h1 {
    margin-right: 20px;
    min-width: 200px;
}

.header li {
    min-width: 140px;
}

.list {
    display: flex;
    text-decoration: none;
    gap: 20px;
    list-style: none;
}

/*First Section below*/

.first-section {
    display: flex;
    justify-content: center;
    padding: 150px 0px;
    background-color: rgb(49, 49, 49);
}

.first-section .left h1,p,button{
    margin: 10px 0px;
    color: aliceblue;
    text-align: left;
}

.first-section .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    min-width: auto;
    margin: 0px 50px;

}

.button {
    Display: inline-block;
    Border: none;
    Padding: 4px 12px;
    Font-size: 14;
    Font-weight: normal;
    color: rgb(49, 49, 49);
    Text-align: center;
    Cursor: pointer;
    Border-radius: 4px;
    max-width: fit-content;

}
.images {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0px 50px;
}

.images img {
    border-radius: 20%;
}

.MBDTF {
    max-width: 100px;
    height: auto;
}

/*Random info below*/

.random-info .header {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    color: black;
    background-color: white;
}

.pictures {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.pictures p {
    color: black;
    margin: 10px;
}

.pictures img {
    min-width: 200px;
    max-height: auto;
    flex: 1;
}