* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(rgb(27, 50, 135), green, blue);
    font: "roboto", sans serif
}

/*Footer Below*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27, 50, 135);
    color: azure;
    font-size: larger;
    text-align: center;
    padding: 2%;
}

.header h1 {
    margin-right: 20px;
    min-width: 200px;
}

.header li {
    min-width: 140px;
}

.list {
    display: flex;
    text-decoration: none;
    gap: 20px;
    list-style: none;
}

/*First Section below*/

.first-section {
    display: flex;
    justify-content: center;
    padding: 150px 0px;
    background-color: rgb(49, 49, 49);
}

.first-section .left h1,p,button{
    margin: 10px 0px;
    color: aliceblue;
}

.first-section .left p {
    max-width: 350px;
}

.button {
    
}
.images {
    display: flex;
    align-items: center;
    gap: 20px;
}
.MBDTF {
    max-width: 100px;
    height: auto;
}