* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(rgb(27, 50, 135), green, blue);
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: larger;
}

.ul {
    display: flex;
    
}